@{
    ViewBag.Title = "Attribute";
}

<h2>Atribute Calculator</h2>

@using (Html.BeginForm())
{
            <div>
                <label for="number">Enter Number:</label>
                <input type="text" id="number" name="number" />
            </div>
            <div>
                    <input type="submit" value="Atribute" id="attribute"/>
            </div>
}

@if (ViewBag.IsPrime != null)
{
            <div>
                 <h3>Is Prime:</h3><div id="isPrime"><h4>@ViewBag.IsPrime</h4></div>
            </div>
}